<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="CentralServiceLib.TheSourcesService">
                <endpoint address="" binding="netTcpBinding" contract="CentralServiceLib.ITheSourcesService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/ConductorService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="CentralServiceLib.IUsersService">
                <endpoint address="" binding="netTcpBinding" contract="CentralServiceLib.IIUsersService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/IUsersService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="CentralServiceLib.PageParsingRulesService">
                <endpoint address="" binding="netTcpBinding" contract="CentralServiceLib.IPageParsingRulesService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/PageParsingRulesService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
